root:x:0:0:root:/root:/bin/bash
core:x:500:500:CoreOS Admin:/home/core:/bin/bash
client:x:1000:1000::/home/client:/bin/bash
controller:x:1001:1001::/home/controller:/bin/bash

## Generated User List Start
{{#applications}}
{{sshUser}}:x:500:100::/home/client:/bin/bash
{{#containers}}
{{this}}:x:500:100::/home/client:/bin/bash
{{/containers}}
{{/applications}}
## Generated User List End

## Generated Container User List Start
{{#applications}}
{{#containers}}
{{this}}:x:500:100::/home/client:/bin/bash
{{/containers}}
{{/applications}}
## Generated Container User List End
